<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="productDetail({},-1)">
                <mat-icon matListIcon>add</mat-icon>
                New Product</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th>No</th>
                <th>Author</th>
                <th>Pages</th>
            </thead>
    
            
            <tbody>
                <tr *ngFor='let book of books; let i=index'>
                <td>{{i+1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.pages}}</td>
                
                <td align="right">
                    <button mat-button color="primary" (click)="productDetail(book,i)">Edit</button>
                    <button mat-button color="warn" (click)="deleteProduct(book,i)">Delete</button>
                </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
