<h3 mat-dialog-title>
    Detail Product
</h3>

<div mat-dialog-content>
    <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    
    <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Author</mat-label>
        <input matInput [(ngModel)]="data.author">
    </mat-form-field>
    
    <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Pages</mat-label>
        <input matInput [(ngModel)]="data.pages">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-button-close>Cancel</button>
    <button mat-flat-button (click)="saveData()">Save</button>
</div>
